@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  background-color: #f4f2f3;
  /* color: #b90e4d; */
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

#form-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50vh;
}

.label-flex{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 30px;
}

nav{
  height: 80px;
  background-color: #cdcbd6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  box-shadow: 3px 3px 3px black;
  
}

nav h1{
  color: #fff;
  font-size: 2.5rem;
  text-shadow: 5px 5px 4px black;
  
}

.form-style{
  font-size: 3rem;
  color: #fff;
  font-weight: 300;
  text-shadow: 5px 5px 4px black;
}


.input-style{
  display: block;
  height: 30px;
  width: 300px;
  margin: 50px 0;
  border: 2px solid black;
  border-radius: 3%;
  box-shadow: 3px 5px 4px black;
}

.input-style:active{
  border: 2px solid red;
}

#form-btn{
  display: inline-block;
  padding: 10px 20px;
  background-color: #49fb35;
  border-radius: 5%;
  color: black;
  font-weight: bolder;
  font-size: 1rem;
  text-shadow: 0px 0px 2px black;
  cursor: pointer;
}

#form-btn:hover{
  box-shadow: 3px 5px 4px black;
}

.btn-delete{
  display: inline-block;
  padding: 10px 20px;
  background-color: #d00000;
  border-radius: 5%;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;

  cursor: pointer;
}

.btn-delete:hover{
  /* text-shadow: 2px 5px 2px black; */
  box-shadow: 3px 5px 4px black;
}

#current-title{
  font-size: 3rem;
  color: #fff;
  font-weight: 300;
  text-shadow: 5px 5px 4px black;
}

.task-title{
  font-size: 2.5rem;
  color: black;
  font-weight: 300;
  text-shadow: 3px 3px 4px black;
}

.task-desc{
  font-size: 1.5rem;
  color: black;
  font-weight: 300;
  text-shadow: 3px 3px 4px black;
}




