@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  background-color: #f4f2f3;
  /* color: #b90e4d; */
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

nav{
  height: 70px;
  background-color: #cdcbd6;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav h1{
  color: #fff;
  font-size: 2.5rem;
  text-shadow: 5px 5px 5px black;
}